body{
    background-color: rgb(206, 214, 91);


}

.container img{
    height: 100px;
    width: 100px;
    margin: 4px 10px;
}

.container h1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    box-sizing: border-box;
    background-color: rgb(250, 17, 17);
    font-size: 35px;
    color:rgb(250, 244, 242);
}

table tr td{
    border: 1px solid black;
}

table{
    border: 1px solid black;
    width: 100%;
    border-collapse: collapse;
}

tr{
    height: 35px;
    text-align: left;
    color: rgb(255, 0, 0);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

td{
    text-align: center;
    vertical-align: bottom;
    height: 25px;
    color: rgb(233, 16, 16);
    background-color: rgb(129, 226, 243);

}

th, td{
    padding: 15px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

tr:hover{
    background-color: #f5f5f5f;
}

