table {
    border-collapse: collapse;
    width: 100%;
  }
  header{
      height: 12vh;
      background: rgb(80, 110, 246)	;
      opacity: 20px;
  }
  h1,h2,h3,h4,h5,h6 {
    background-color:rgb(246, 80, 121);
  }
  th, tr, table, thead, tbody, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-right:  1px solid #ddd;
  }
  li , ol {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-right:  1px solid #ddd;
  }
  a {
    background-color: transparent;
  }
  a:active,
  a:hover {
    outline: 0;
  }
  ol:hover {
    background-color:rgb(251, 141, 68);
  }
  tr:hover {
    background-color:#FBDE44FF;
  }
  button {
    overflow: visible;
  }
  button,
  select {
    text-transform: none;
  }
  button,
  html input[type="button"],
  input[type="reset"],
  input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
  }
  button[disabled],
  html input[disabled] {
    cursor: default;
  }
  button::-moz-focus-inner,
  input::-moz-focus-inner {
    padding: 0;
    border: 0;
  }
  .logo{
    margin: 7px 9px;
    height: 77px;
  }
  .btn1{
    padding: 8px;
    text-align: left; 
  }
  .btn2{
    padding: 8px;
    text-align: left; 
  }
  .btn3{
    padding: 8px;
    text-align: left; 
  }
  .btn4{
    padding: 8px;
    text-align: left; 
  }
  .btn5{
    padding: 8px;
    text-align: left; 
  }
  .btn6{
    padding: 8px;
    text-align: left; 
  }
  .btn7{
    padding: 8px;
    text-align: left; 
  }
  